.container {
  background-color: #150a5c;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  height: 4vh;
}

.voting-result {
  display: flex;
  flex-direction: column;
  flex: 1;

  .top-three,
  .table {
    width: 100%;
  }

  .top-three {
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;

    div {
      width: 80px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 45px;
      font-weight: 700;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;

      .top-item {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -130px;

        .logo {
          width: 70px;
        }

        p {
          margin: 0;
        }

        .item-name {
          font-size: 10px;
        }

        .vote {
          font-size: 15px;
        }
      }
    }

    .second {
      height: 120px;
      background-color: #62c6d4;
    }

    .first {
      height: 150px;
      background-color: #fd876c;
    }

    .third {
      height: 70px;
      background-color: #8fadd5;
    }
  }

  .table {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    height: 56vh;
    display: flex;
    flex-direction: column;

    .table-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 20px;
      font-weight: 700;
      gap: 20px;
      padding: 15px;
      text-align: center;

      .item-name {
        font-size: 14px;
      }

      .logo {
        width: 70px;
      }
    }
  }
}
