.container
{
  background-image: url("/images/voting/background.png");
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  min-height:100vh;

  @media (min-width: 990px) {
    display: none;
  }
}

.header{
  text-align: center;
  padding-top:20px;
}a

.heading-logo, .title, .sub-heading{
  padding-bottom:25px;
}

.list-item {
  display:flex;
  flex-direction: column;
  gap: 40px;
}

.voted {
  p {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 700;
    color: white;
  }
}
