<div class="container">
  <div class="header">
    <img src="/images/voting/header.png" alt="" class="heading-logo">
    <img src="/images/voting/title.png" alt="" class="title">
    <img src="/images/voting/sub-header.png" alt="" class="sub-heading">
  </div>
  <div class="list-item" *ngIf="!isVoted">
    <div class="item" *ngFor="let item of items">
      <app-vote-card
        [item]="item"
        (onVote)="onVote($event)"
      />
    </div>
  </div>

  <div class="voted" *ngIf="isVoted">
    <p>
      CẢM ƠN BẠN <br />
      ĐÃ BÌNH CHỌN
    </p>
  </div>

  
</div>

<div class="open-mobile">
  <p>Xin vui lòng mở trên điện thoại</p>
</div>
