<!-- <form [formGroup]="formsInfo">
  <label for="subName">SubName</label>
  <input formControlName="option" placeholder="Enter item" />

  <button (click)="addItem()">Add</button>
</form>

<ul>
  <li *ngFor="let i of items">{{ i.ip }}</li>
</ul> -->
<div class="container">
  <div class="title">
    Bình chọn <br />
    tiết mục nội bộ
  </div>
  <div class="carousel-container hide-scrollbar">
    <div class="carousel-wrapper">
      <div class="carousel-item" *ngFor="let item of items">
        <app-vote-card
          [item]="item"
          (onVote)="onVote($event)"
          [isVoted]="isVoted"
        />
      </div>
    </div>
  </div>
</div>
