<div class="container">
  <div class="header">
    <div class="left">
      HỘI TỤ <br />
      <span class="left-text">ANH TÀI</span>
    </div>

    <img src="/images/khien-bat.png" alt="" class="header-logo" />

    <div class="right">
      VƯỢT NGÀN <br />
      <span class="right-text">CHÔNG GAI</span>
    </div>
  </div>
  <div class="carousel-container hide-scrollbar" *ngIf="!isVoted && !isLoaded">
    <div class="carousel-wrapper">
      <div class="carousel-item" *ngFor="let item of items">
        <app-vote-card
          [item]="item"
          (onVote)="onVote($event)"
          [isVoted]="isVoted"
        />
      </div>
    </div>
  </div>

  <div class="voted" *ngIf="isVoted">
    <app-voted-card [item]="votedItem" />
  </div>
</div>

<div class="open-mobile">
  <p>Xin vui lòng mở trên điện thoại</p>
</div>
