.card {
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left:35px;
}

.vote-button{
  position:relative;

  .button-background{
    width:100%;
    height:100%;
  }

  .text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.name{
  width:50%;
}