.card {
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left:35px;

  @media (max-width:400px){
    gap:20px;
    margin-left:20px;
  }
}

.vote-button{
  width:150px;
  .button{
    position:relative;
    display:flex;
  }

  .button-background{
    width:100%;
    height:100%;
  }

  .text{
    height:17px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.name{
  // height:40px;
  zoom:0.35;

  @media (max-width:991px){
    zoom:0.32;
  }
}

.button-image{
  width:150px;
  height:300px;
}