.container {
  background-color: #150a5c;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;

  @media (min-width: 990px) {
    display: none;
  }
}

.commit,
.landing-page {
  width: 100%;
  height: 100svh;
}

.commit {
  background-image: url("/images/commit/background commit 1.png");
  background-size: cover;
  background-position: center;
  filter: blur(0px);
  transition: opacity 1s ease, filter 1s ease;
  position: relative;
}

.commit button {
  font-size: 30px;
  padding: 10px 25px;
  background-color: #0054a3;
  text-transform: uppercase;
  color: white;
  border: 2px solid #06b4ee;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.landing-page {
  background-image: url("/images/commit/background commit 2.png");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.shield {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade {
  display: none;
  filter: blur(8px);
}

.list-logo {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0 10px 0;

  .logo {
    width: 50px;
    height: 50px;
  }
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.float-left,
.float-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  span {
    display: block;
    margin: 15px 0;
    font-weight: bold;
    font-size: 20px;
  }
}

.float-left {
  left: 8%;
  text-align: left;
  .down {
    margin-left: 10px;
  }
}

.float-right {
  right: 2%;
  text-align: right;
  .down {
    margin-right: 10px;
  }
}

.description {
  font-size: 25px;
  text-align: center;
  padding: 0 25px;
  position: absolute;
  bottom: 18%;
}
