<div class="container">
  <div class="logo">
    <img src="/images/commit/logo.png" alt="">
  </div>

  <div class="title">
    <img src="/images/commit/title.png" alt="">
  </div>

  <div class="commit" [ngClass]="isCommit ? 'fade' : ''" (click)="onCommit()">
    <img src="/images/commit/commit-button.png" alt="">
    <p>Cam kết</p>
  </div>

  <div class="thank-you" *ngIf="isCommit">
    <img class="thank-you-background" src="/images/commit/thank-you-title.png" alt="">
    <img class="thank-you-text" src="/images/commit/thank-you-text.png" alt="">
  </div>
</div>

<div class="open-mobile">
  <p>Xin vui lòng mở trên điện thoại</p>
</div>
