.container {
  background-image: url("/images/commit/commit-background.png");
  object-fit: fill;
  background-position: center;
  background-repeat: none;
  position:relative;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;

  @media (min-width: 990px) {
    display: none;
  }
}

.logo, .title{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;

  
}

.logo img{
  width:80%;
}

.title {
  margin-top:40px;

  img{
    width:80%;
  }
}

.commit, .thank-you{
  position:absolute;
    left: 50%;
    top:45%;
    transform: translate(-50%,-50%);    
}

.commit{
  cursor: pointer;
  width:250px;
  justify-content: center;
  img{
    width:250px
  }

  p{
    margin:0;
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);    
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
}

.fade {
  display: none;
  filter: blur(8px);
}

.thank-you{
  opacity: 0;
  filter: blur(5px);
  animation: fadeInClear 2s forwards;

  width:350px;
}

.thank-you-background{
  width:100%;
}

.thank-you-text{
  position:absolute;
    left: 49%;
    top:47%;
    transform: translate(-50%,-50%);  
    z-index:500;
    width:350px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInClear {
  to {
    opacity: 1;
    filter: blur(0);
  }
}
