<div class="container">
  <div class="commit" [ngClass]="isCommit ? 'fade' : ''">
    <button [ngClass]="clickButton ? 'disabled' : ''" (click)="onCommit()">
      COMMIT
    </button>
  </div>

  <div class="landing-page" *ngIf="isCommit">
    <img
      src="/images/commit/background commit 2 khiên.png"
      alt=""
      class="shield"
    />
    <div class="list-logo">
      <img src="/images/commit/logo 1.png" alt="" class="logo" />
      <img src="/images/commit/logo 2.png" alt="" class="logo" />
      <img
        src="/images/commit/logo 3.png"
        alt=""
        class="logo"
        style="width: 80px"
      />
      <img
        src="/images/commit/logo 4.png"
        alt=""
        class="logo"
        style="width: 50px"
      />
      <img src="/images/commit/logo 5.png" alt="" class="logo" />
    </div>

    <div class="title">HỘI NGHỊ<br />CHIẾN LƯỢC KINH DOANH<br />BAT 2025</div>

    <div class="float-left">
      <span class="up">HỘI TỤ</span>
      <span class="down">ANH TÀI</span>
    </div>

    <div class="float-right">
      <span class="up">VƯỢT NGÀN</span>
      <span class="down">CHÔNG GAI</span>
    </div>

    <div class="description">
      Cảm ơn bạn đã cam kết đồng hành và nỗ lực cùng BAT!
    </div>
  </div>
</div>

<div class="open-mobile">
  <p>Xin vui lòng mở trên điện thoại</p>
</div>
