.container {
  background-image: url("/images/result/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.header{
  width:500px;
  min-width:500px;
  margin:0 auto;
  text-align: center;
  padding-top:25px;
}

.heading-logo, .title, .sub-heading{
  padding-bottom:20px;
}


.vote-count-container {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 200px;

  .vote-count {
    width: 60px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/images/result/cot.png");
    background-size: cover;
    .count {
      text-align: center;
    }

    .text {
      position: absolute;
      top: -30%;
    }
  }
}

.clear-data {
  padding: 10px 19px;
  background-color: red;
  color: white;
  font-size: 19px;
  position: absolute;
  top: 10%;
  left: 100px;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  border: 3px solid white;
}
