.card{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  justify-content: space-between;
  position:relative;
}

.image-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  width:200px;
  height:300px;
  justify-content: space-between;
  position:relative;
  
  .frame {
    position:absolute;
    width:200px;
    height:auto;
    top:0;
    left:0
  }

  .image-content {
    background-image: url("/images/boss/voting/frame.png");
    z-index: 10;
    width: 180px;
    height: 255px;
    background-position: top;
    margin-bottom: 20px;
    margin-left: 10px;
  }


}

.vote-button{
  height:30px;
  width:auto;
  bottom:0;
  position:absolute;
  cursor: pointer;
}