.card{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
  justify-content: space-between;
  height:170px;
  position:relative;
}

.image-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  width:210px;
  height:140px;
  justify-content: space-between;
  position:relative;
  
  .frame {
    width: 100px;
    height:140px;
    top:0;
    position:absolute;
  }

  .left-img .frame{
    left:0;
  }

  .right-img .frame{
    right:0;
  }


  .image-content {
    background-image: url("/images/boss/voting/frame.png");
    z-index: 10;
    width:100px;
    height:140px;
    background-position: top;
  }
}

.vote-button{
  height:30px;
  width:auto;
  bottom:0;
  position:absolute;
  cursor: pointer;
}