body {
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #150a5c;
}

.open-mobile {
  display: none;
  height: 100vh;
  width: 100%;

  @media (min-width: 990px) {
    display: block;
    background-color: #150a5c;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding: 20px;
      border-radius: 15px;
      background-color: white;
      color: #150a5c;
      font-size: 25px;
      font-weight: bold;
    }
  }
}
