.carousel-container {
  width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  height: 80vh;
}

.carousel-wrapper {
  display: flex;
  gap: 15vw;
  padding: 0 15vw; /* equal to the remaining space divided by 2 */
  box-sizing: border-box;
  width: max-content;
  height: 100%;
}

.carousel-item {
  flex-shrink: 0;
  width: 70vw; /* updated from 90vw */
  scroll-snap-align: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.container {
  background-color: #150a5c;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;

  @media (min-width: 990px) {
    display: none;
  }
}

app-vote-card,
app-voted-card {
  display: block;
  width: 100%;

  border: 3px solid white;
  padding: 30px;
  border-radius: 15px;

  background-image: url("/images/card-background.png");
  background-size: cover;
  height: 77%;
}

app-voted-card {
  width: 65svw;
  height: 70svh;
  margin-left: 50%;
  transform: translate(-50%);
}

.header {
  padding: 20px;
  width: 190px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10px;

  .header-logo {
    width: 50px;
  }

  .left,
  .right {
    min-width: 60px;
    text-align: center;
  }
}
