<div class="container">
  <div class="header">
    <img src="/images/voting/hongleong-logo.png" alt="" class="carlsberg-logo">
    <img src="/images/voting/hongleong-got-talent-text.png" alt="" class="carlsberg-text">
    <img src="/images/voting/binh-chon-cho-text.png" alt="" class="binh-chon-cho-text">
    <img src="/images/voting/tiet-muc-yeu-thich-nhat-text.png" alt="" class="tiet-muc-yeu-thich-text">
  </div>
  <div class="list-item" *ngIf="!isVoted">
    <div class="item" *ngFor="let item of items">
      <app-vote-card
        [item]="item"
        (onVote)="onVote($event)"
      />
    </div>
  </div>

  <div class="voted" *ngIf="isVoted">
    <p>
      CẢM ƠN BẠN <br />
      ĐÃ BÌNH CHỌN
    </p>
  </div>

  
</div>

<div class="open-mobile">
  <p>Xin vui lòng mở trên điện thoại</p>
</div>
